<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baims.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity android:name=".presentation.coursedetails.PDFActivity"/>
        <activity android:name=".presentation.courses.CoursesActivity" />
        <activity
            android:name=".presentation.home.HomeActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.sectiondetails.SectionDetailsActivity" />
        <activity
            android:name=".presentation.coursedetails.CourseDetailsActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".presentation.lecture.LectureActivity" />
        <activity
            android:name=".presentation.video.VideoActivity"
            android:launchMode="singleTask" />
        <activity android:name=".presentation.payment.PaymentActivity" />
        <activity android:name=".presentation.question.AddQuestionActivity" /> <!-- <activity android:name=".presentation.search.SearchActivity" /> -->
        <!-- <activity android:name=".presentation.categories.CategoriesActivity"/> -->
        <activity android:name=".presentation.categorycourses.CategoryCoursesActivity" />
        <activity android:name=".presentation.subcategories.SubcategoryActivity" />
        <activity android:name=".presentation.coursedetails.Browser"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>